<h5>Fotos</h5>
<% producto.imagenes.each do |img| %>
    <% if img.id %>
        <div class="mb-3 col-6">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-inline"><%= image_tag img, class: 'w-100' %></div>
                    <span class="badge ">
                        <%= link_to admin_eliminar_foto_path(producto, img), method: :delete, data: { confirm: '¿Seguro quieres eliminar la foto?' }, class:"btn btn-danger" do %>                   
                            <i class="bi bi-trash-fill"></i>
                            Eliminar                    
                        <% end %>
                    </span>
                    
                </li>
            </ul>
        </div>
    <% end %>
<% end %>