<div class="row">
    <div class="col">
        <h2>Productos Registrados</h2>
    </div>
    <div class="col text-end">
        <%= link_to admin_nuevo_producto_path, class: "btn btn-primary text-white" do %>
            <i class="bi bi-plus-circle"></i>
            Crear producto
        <% end %>
    </div>
</div>


<h5 class="animate__animated animate__fadeInDown">Activos</h5>
<%= render 'tabla_productos', productos: @productos_activos %>


<h5 class="animate__animated animate__fadeInDown">Inactivos</h5>
<%= render 'tabla_productos', productos: @productos_inactivos %>