<h1>Pida sus productos</h1>

<% @todos_los_productos.each do |producto| %>
    <div class="card" style="width: 18rem;">
    <%= image_tag producto.imagenes.first, class: 'card-img-top' %>
    <div class="card-body">
        <h5 class="card-title"><%= producto.nombre %></h5>
        <%= producto.precio.to_s[0..-3] %> CLP
        <%= link_to 'Agregar al carro', agregar_producto_path(producto), class: 'btn btn-primary', method: :post, remote: true %>
    </div>
    </div>
<% end %>