.contenedor{
    /* margin-top: 5rem; */
    position: relative;
    top: 5rem;
}

.tabla-categorias{
    margin-top: 2rem;
}

.titulo-seccion{
    display: inline-block;
    vertical-align: middle;
}

.boton-crear-derecha{
    position: absolute;
    right: 0rem;
}

.fila{
    background-color: white;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #eeeeee;
}

.boton-editar{
    color: white;
}

/* #navegacion{
    background-color: #00bcd4;
} */


.boton-navbar-hamburguesa{
    border-color: white;
}
.icono-navbar-hamburguesa {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navegacion a, #navegacion span{
    color: white;
}

.contenedor-formulario{
    border: 1px solid #eeeeee;
    padding: 2rem;
    border-radius: 0.2rem;
    background-color: white;
}

.titulo-formulario{
    margin-bottom: 2rem;
}