<h1 class="titulo-seccion">Categorias</h1>

<%= link_to admin_nueva_categoria_path, class: "btn btn-primary text-white boton-crear-derecha" do %>
    <i class="bi bi-plus-circle"></i>
    Crear categoría
<% end %>

<div class="tabla-categorias">
    <div class="row justify-content-between">
        <div class="col-4">
            <h4>Nombre</h4>
        </div>
        <div class="col-4">
            <h4>Opciones</h4>
        </div>
    </div>

    <% @categorias.each do |categoria| %>
        <div class="row justify-content-between fila">
            <div class="col-4"><%= categoria.categoria %></div>
            <div  class="col-4">
                <%= link_to admin_editar_categoria_path(categoria), class: "btn btn-warning boton-editar" do %>
                    <i class="bi bi-pencil-fill"></i> 
                <% end %>
                <%= link_to admin_categoria_path(categoria), method: :delete, data: { confirm: '¿Quieres eliminar la categoria?' }, class: "btn btn-danger" do %>                   
                        <i class="bi bi-trash-fill"></i> 
                <% end %>
            </div>
        </div>
    <% end %>
</div>
