<div id="sidebar">
    <header>
        <span>
            Juguetería
        </span>
    </header>
    <ul>
        <li>
            <%= link_to "#" do %>
                <i class="bi bi-speedometer2"></i>
                Dashboard
            <% end %>
        </li>
        <li>
            <%= link_to 'Productos', productos_path %>
        </li>
        <li>
            <%= link_to 'Categorias', categorias_path %>
        </li>
    </ul>
</div>